nav {
    margin: 0;
    background-color: #99ccff;
    top: 0;
    width: 100%;
    position: fixed;
}
nav img {
	float: right;
}
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav ul li {
	margin: 0px 30px 0 0;
	display:inline-block;
	background-color: #99ccff;
}
nav a {
	display:block;
	padding:0 10px;
	color:#0059b3;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
nav a:hover {
	background-color: #80bfff;
}
nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
nav ul li:hover > ul {
	display:inherit;
}
nav ul ul li {
	min-width:170px;
	float:none;
	display:list-item;
	position: relative;
}
a:hover {
	background-color: #000000;
}
#logo {
	margin-left: 440px;
	margin-top: 70px;
}
main h1{
	text-align: center;
	font-size: 54px;
	color: #0059b3;
	font-family: Comic Sans MS;
}
#history {
	width: 100%;
	height: 300px;
	background: #99ccff;
	border-radius: 15px;
}

.history_list {
	display: block;
	list-style: none;
	font-size: 20px;
	color: #0059b3;
}
#last_match {
	width: 100%;
	height: 300px;
	background: #99ccff;
	border-radius: 15px;
}

#lv {
	margin-left: 500px;
	margin-top: -100px;
}

#ol {
	margin-left: 100px;
	margin-top: -100px;
}
footer {
	width: 100%;
	height: 100px;
	background: #99ccff;
	margin-top: 20px;
}